fragment:
  tone_row: [B, A#, G, C#, D#, C, D, A, F#, E, G#, F]
  groups:
    - n_melodic_lines: 1
      n_tone_row_instances: 1
    - n_melodic_lines: 3
      n_tone_row_instances: 3
  meter_numerator: 4
  meter_denominator: 4
  n_measures: 4
  line_ids: [1, 2, 3, 4]
  upper_line_highest_note: E6
  upper_line_lowest_note: E4
  pauses_fraction: 0.0

scoring_sets:
  - name: default
    scoring_functions:
      - name: absence_of_doubled_pitch_classes
        weight: 1.0
      - name: absence_of_voice_crossing
        weight: 1.0
      - name: cadence_duration
        weight: 1.0
        max_duration: 4.0
        last_sonority_weight: 0.9
        last_notes_weight: 0.1
      - name: climax_explicity
        weight: 1.0
        height_penalties:
          2: 1.0
          3: 0.8
          4: 0.6
          5: 0.5
          6: 0.4
          7: 0.3
          8: 0.2
          9: 0.1
          10: 0.0
        duplication_penalty: 0.5
      - name: consistency_of_rhythm_with_meter
        weight: 1.0
        consistent_patterns:
          - [6.0]
          - [4.0]
          - [3.0, 1.0]
          - [3.0, 0.75, 0.25]
          - [3.0, 0.5, 0.5]
          - [3.0, 0.5, 0.25, 0.25]
          - [3.0, 0.25, 0.25, 0.25, 0.25]
          - [2.0, 4.0]
          - [2.0, 2.0]
          - [2.0, 1.5, 0.5]
          - [2.0, 1.5, 0.25, 0.25]
          - [2.0, 1.0, 1.0]
          - [2.0, 1.0, 0.75, 0.25]
          - [2.0, 1.0, 0.5, 0.5]
          - [2.0, 1.0, 0.5, 0.25, 0.25]
          - [2.0, 1.0, 0.25, 0.25, 0.25, 0.25]
          - [2.0, 0.75, 0.75, 0.5]
          - [2.0, 0.75, 0.5, 0.25, 0.25, 0.25]
          - [2.0, 0.75, 0.25, 0.25, 0.25, 0.25, 0.25]
          - [2.0, 0.5, 0.5, 0.5, 0.5]
          - [2.0, 0.5, 0.5, 0.5, 0.25, 0.25]
          - [2.0, 0.5, 0.25, 0.25, 0.5, 0.25, 0.25]
          - [2.0, 0.5, 0.25, 0.25, 0.25, 0.25, 0.25, 0.25]
          - [2.0, 0.25, 0.25, 0.25, 0.25, 0.25, 0.25, 0.25, 0.25]
          - [1.5, 0.5, 1.5, 0.5]
          - [1.5, 0.5, 1.5, 0.25, 0.25]
          - [1.5, 0.5, 1.0, 1.0]
          - [1.5, 0.5, 1.0, 0.75, 0.25]
          - [1.5, 0.5, 1.0, 0.5, 0.5]
          - [1.5, 0.5, 1.0, 0.5, 0.25, 0.25]
          - [1.5, 0.5, 1.0, 0.25, 0.25, 0.25, 0.25]
          - [1.5, 0.5, 0.5, 0.5, 0.5, 0.5]
          - [1.5, 0.5, 0.5, 0.5, 0.5, 0.25, 0.25]
          - [1.5, 0.5, 0.5, 0.25, 0.25, 0.5, 0.25 0.25]
          - [1.5, 0.5, 0.25, 0.25, 0.25, 0.25, 0.25, 0.25, 0.25, 0.25]
          - [1.5, 0.25, 0.25, 1.5, 0.5]
          - [1.5, 0.25, 0.25, 1.5, 0.25, 0.25]
          - [1.5, 0.25, 0.25, 1.0, 1.0]
          - [1.5, 0.25, 0.25, 1.0, 0.75, 0.25]
          - [1.5, 0.25, 0.25, 1.0, 0.5, 0.5]
          - [1.5, 0.25, 0.25, 1.0, 0.5, 0.25, 0.25]
          - [1.5, 0.25, 0.25, 1.0, 0.25, 0.25, 0.25, 0.25]
          - [1.5, 0.25, 0.25, 0.5, 0.5, 0.5, 0.5]
          - [1.5, 0.25, 0.25, 0.5, 0.5, 0.5, 0.25, 0.25]
          - [1.5, 0.25, 0.25, 0.5, 0.25, 0.25, 0.5, 0.25 0.25]
          - [1.5, 0.25, 0.25, 0.25, 0.25, 0.25, 0.25, 0.25, 0.25, 0.25, 0.25]
          - [1.0, 1.0, 4.0]
          - [1.0, 1.0, 1.0, 1.0]
          - [1.0, 1.0, 1.0, 0.75, 0.25]
          - [1.0, 1.0, 1.0, 0.5, 0.5]
          - [1.0, 1.0, 1.0, 0.5, 0.25, 0.25]
          - [1.0, 1.0, 1.0, 0.25, 0.25, 0.25, 0.25]
          - [1.0, 1.0, 0.5, 0.5, 0.5, 0.5]
          - [1.0, 1.0, 0.5, 0.5, 0.5, 0.25, 0.25]
          - [1.0, 1.0, 0.5, 0.5, 0.25, 0.25, 0.25, 0.25]
          - [1.0, 1.0, 0.5, 0.25, 0.25, 0.25, 0.25, 0.25, 0.25]
          - [1.0, 1.0, 0.25, 0.25, 0.25, 0.25, 0.25, 0.25, 0.25, 0.25]
          - [1.0, 0.5, 0.5, 4.0]
          - [1.0, 0.5, 0.5, 1.0, 1.0]
          - [1.0, 0.5, 0.5, 1.0, 0.75, 0.25]
          - [1.0, 0.5, 0.5, 1.0, 0.5, 0.5]
          - [1.0, 0.5, 0.5, 1.0, 0.5, 0.25, 0.25]
          - [1.0, 0.5, 0.5, 1.0, 0.25, 0.25, 0.25, 0.25]
          - [1.0, 0.5, 0.5, 0.75, 0.25, 1.0]
          - [1.0, 0.5, 0.5, 0.75, 0.25, 0.75, 0.25]
          - [1.0, 0.5, 0.5, 0.75, 0.25, 0.5, 0.5]
          - [1.0, 0.5, 0.5, 0.75, 0.25, 0.5, 0.25, 0.25]
          - [1.0, 0.5, 0.5, 0.75, 0.25, 0.25, 0.25, 0.25, 0.25]
          - [1.0, 0.5, 0.5, 0.5, 0.5, 0.75, 0.25]
          - [1.0, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5]
          - [1.0, 0.5, 0.5, 0.5, 0.5, 0.5, 0.25, 0.25]
          - [1.0, 0.5, 0.5, 0.5, 0.5, 0.25, 0.25, 0.25, 0.25]
          - [1.0, 0.5, 0.5, 0.5, 0.25, 0.25, 0.25, 0.25, 0.25, 0.25]
          - [1.0, 0.5, 0.5, 0.25, 0.25, 0.25, 0.25, 0.25, 0.25, 0.25, 0.25]
          - [1.0, 0.5, 0.25, 0.25, 0.25, 0.25, 0.25, 0.25, 0.25, 0.25, 0.25, 0.25]
          - [1.0, 0.25, 0.25, 0.25, 0.25, 0.25, 0.25, 0.25, 0.25, 0.25, 0.25, 0.25, 0.25]
      - name: harmony_dynamic
        weight: 1.0
        regular_positions:
          - name: downbeat
            denominator: 4
            remainder: 0
          - name: middle
            denominator: 4
            remainder: 2
        ad_hoc_positions:
          - name: beginning
            time: 0
          - name: ending
            time: -0.01
        ranges:
          downbeat: [0.75, 1.0]
          middle: [0.5, 0.8]
          beginning: [0.8, 1.0]
          ending: [0.9, 1.0]
          default: [0.1, 0.8]
        n_semitones_to_stability:
          0: 1.0
          1: 0.2
          2: 0.2
          3: 0.7
          4: 0.8
          5: 0.5
          6: 0.0
          7: 0.9
          8: 0.6
          9: 0.6
          10: 0.2
          11: 0.2
      - name: smoothness_of_voice_leading
        weight: 1.0
        penalty_deduction_per_line: 0.2
        n_semitones_to_penalty:
          0: 0.2
          1: 0.0
          2: 0.0
          3: 0.1
          4: 0.2
          5: 0.3
          6: 0.4
          7: 0.5
          8: 0.6
          9: 0.7
          10: 0.8
          11: 0.9
          12: 1.0
      - name: stackability
        weight: 1.0
        n_semitones_to_penalty:
          0: 0.0
          1: 0.0
          2: 0.0
          3: 0.0
          4: 0.0
          5: 0.0
          6: 0.0
          7: 0.2
          8: 0.4
          9: 0.6
          10: 0.8
          11: 0.9
          12: 1.0

evaluation:
  scoring_sets:
    - default

optimization:
  n_iterations: 50
  n_trials_per_iteration: 1000
  default_n_transformations_per_trial: 2
  n_transformations_increment: 1
  max_n_transformations_per_trial: 5
  beam_width: 5
  transformation_probabilities:
    duration_change: 0.7
    pause_swap: 0.075
    inversion: 0.075
    reversion: 0.075
    transposition: 0.075
  max_transposition_in_semitones: 3
  paralleling_params:
    n_processes: null

rendering:
  dir: outputs
  common:
    beat_in_seconds: 0.5
    opening_silence_in_seconds: 1.0
    trailing_silence_in_seconds: 1.0
  midi:
    instruments:
      1: 0
      2: 0
      3: 0
      4: 0
    velocity: 100
  sinethesizer:
    instruments:
      1: additive_mellow_pipe
      2: additive_mellow_pipe
      3: additive_mellow_pipe
      4: additive_mellow_pipe
    effects:
      1: '[{"name": "panning", "left_volume_ratio": 1.0, "right_volume_ratio": 0.9}, {"name": "haas", "location": -0.125, "max_channel_delay": 0.02}]'
      2: '[{"name": "panning", "left_volume_ratio": 0.8, "right_volume_ratio": 1.0}, {"name": "haas", "location": 0.25, "max_channel_delay": 0.02}]'
      3: '[{"name": "panning", "left_volume_ratio": 1.0, "right_volume_ratio": 0.8}, {"name": "haas", "location": -0.25, "max_channel_delay": 0.02}]'
      4: '[{"name": "panning", "left_volume_ratio": 0.9, "right_volume_ratio": 1.0}, {"name": "haas", "location": 0.125, "max_channel_delay": 0.02}]'
    velocity: 1.0
