attrs==20.3.0
certifi==2020.12.5
chardet==4.0.0
codecov==2.1.12
coverage==6.2
idna==2.10
iniconfig==1.1.1
mido==1.2.9
numpy==1.21.4
packaging==20.9
pluggy==0.13.1
pretty-midi==0.2.9
py==1.10.0
pyparsing==2.4.7
pytest==6.2.5
pytest-cov==3.0.0
PyYAML==6.0
requests==2.25.1
scipy==1.7.3
sinethesizer==0.6.0
six==1.15.0
toml==0.10.2
urllib3==1.26.4
